@use "../../variables" as *;

.splash-screen {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__button-container {
    display: flex;
    gap: 20px;
  }

  h1 {
    color: $white1;
  }
}
