@use "../../variables" as *;

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto 1fr auto;
  background-color: $violet1;
  color: $white1;
  font-weight: 600;
  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    padding: 0 10px;
  }
  &__status {
    padding: 0 15px;
  }
}

.status {
  padding: 5px 10px;
  border-radius: 6px;
  &--active {
    background-color: green;
  }
  &--inactive {
    background-color: red;
  }
}
