<div class="toolbar" role="banner">
  <div class="toolbar__inner-container">
    <div class="toolbar__column toolbar__logo-container">
      <logo-icon width="28px" height="28px" color="#fff" />
    </div>
    <div class="toolbar__column"></div>
    <div class="toolbar__column toolbar__status">
      <p class="toolbar__status-text">
        Server status:
        <span
          [ngClass]="{
            status: true,
            'status--active': serverTest,
            'status--inactive': !serverTest
          }"
          >{{ serverTest ? "online" : "offline" }}</span
        >
      </p>
    </div>
    <div class="toolbar__column">
      <input type="checkbox" />
      <label class="burger" for="menu_checkbox" (click)="toggleMenu()">
        <div class="burger__active-icon" [ngStyle]="{ display: menuIsOpen ? 'none' : 'block' }">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="burger__inactive-icon" [ngStyle]="{ display: menuIsOpen ? 'block' : 'none' }">
          <div></div>
          <div></div>
        </div>
      </label>
      <div class="menu" [ngStyle]="{ display: menuIsOpen ? 'block' : 'none' }">
        <ul class="menu__list">
          <li class="menu__list-item"><a routerLink="dashboard">Dashboard</a></li>
          <li class="menu__list-item"><a routerLink="create">Create</a></li>
          <li class="menu__list-item"><a routerLink="progress">Progress</a></li>
          <li class="menu__list-item"><a routerLink="settings">Settings</a></li>
          <li class="menu__list-item"><a>Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
