@use "../../../variables" as *;

.container {
  margin-top: 120px;
  padding: 0 100px;
  h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: $family;
    font-size: 4rem;
    width: 50%;
    color: $white1;
  }
}

.answers-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  button {
    padding: 10px 20px;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: $white1;
    &:active {
      background-color: $theme;
      color: $white1;
    }
  }
}

.button-container {
  margin-top: 80px;
  button {
    background-color: $theme;
    border: none;
    padding: 10px 20px;
    color: $white1;
    font-family: $family;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
}
