@use "../variables" as *;

.app-container {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: $black1;
}

main {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
}
