@use "../../../variables" as *;

.text-component {
  color: $white1;
  &--h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 0;
    letter-spacing: -2px;
  }
  &--p {
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1;
    letter-spacing: 0px;
  }
}
