<app-view-container>
  <app-text variant="h1">Dashboard</app-text>
  <app-text>Courses:</app-text>
  <app-text *ngIf="loadingCourses">Loading...</app-text>
  <div class="dashboard__list-container">
    <div class="dashboard__list">
      <a
        *ngFor="let course of coursesList"
        class="course-box"
        [routerLink]="['/course', course.id]"
      >
        <app-text>Language: {{ course.language }}</app-text>
        <div class="flex">
          <app-text>Progress:</app-text>
          <div class="course-box__progress-bar">
            <div class="course-box__progress-fill" [style]="{ width: course.progress + '%' }"></div>
          </div>
        </div>
        <app-text>Word count: {{ course.vocabulary.length }}</app-text>
      </a>
    </div>
  </div>
</app-view-container>
