@use "../../../variables" as *;

.icon-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: $violet1;
  color: $white1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

::ng-deep svg {
  width: auto;
  height: 50%;
}
